# Neon Postgres Connection String (Serverless Postgres)
DATABASE_URL="postgresql://username:password@ep-cool-name-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"

# AI Integration
MISTRAL_API_KEY="your_mistral_api_key_here"

# Authentication & Security
JWT_SECRET="super_secret_jwt_key_hono_neon_2026"
PORT=3000

# CORS & Frontend Origin
FRONTEND_URL="http://localhost:5173"

# Google OAuth Client ID
GOOGLE_CLIENT_ID="your_google_client_id_here"
